body {
    margin: 0;
}

div{ 
    width: 200px;
    height: 200px;
    
}


.top-container{
    background-color: blue;
    position: absolute;
   
    
}
.middle-container{
    background-color: red;
    position: absolute;
    left: 200px;
    top:200px;

}
.bottom-container{
    background-color: yellow;
    position: absolute;
    left: 400px;
    top:400px;
}